{% extends 'base.html' %} {% block content %}
<div class="container pt-4">
  <div class="col-lg-4 mx-auto shadow p-0 mt-4">
    <div class="alert alert-info" style="background-color: grey">
      <h2 style="color:rgb(15, 15, 15)">Login here</h2>
    </div>
    <div class="p-4">
      <form action="/login/" method="POST">
        {% csrf_token %} {{ form.as_p }}
        <hr />
        <input type="submit" value="Login" class="btn btn-info" style="background-color: grey"/>
      </form>
    </div>
  </div>
</div>
{% endblock %}
